{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div>
    <h1>Легенда</h1>
    <p>
        "Раз есть болото, значит на болоте должен жить беглый каторжник Селден, а коли так, то его непременно нужно поймать!" Решили - сделали. Т.е. не сделали, ибо Селдена так и не поймали... Но ведь главное здесь - благородный надрыв! :) Вот и мы когда-то, попав на огромное, замечательное болото, неподалеку от станции Валя, после "правильной подготовки", решили, что непременно и именно сейчас поймаем таки этого духа Селдена - Селдона :) Время стерло точную дату когда это было, но время так и не смогло погасить надрыв.

        Вот и недавно, в нонешнем 2006 году, собравшись в очередной раз за клюквой на болото близ Вали, вспомнили и про Селдона... Конечно, и на сей раз его мы не нашли, зато нашли замечательную идею - рассказать всем о том что дух Селдена жив и прячется по прежнему на болоте :)
    </p>
    <p>
        Селдон - всего лишь красивая легенда о диком духе. Собственно история про Селдона началась несколько позже - в 1996 или 1997 году, точно уже и не вспомнить. Была традиция - съездить на болото за клюквой, так это называлось :) Ездили мы туда группами различного состава, но неизменно ловили на болоте Селдона, конечно, и  клюкву домой подчас привозили :)
    </p>
</div>
<div>
    <h1>Мы</h1>
    {% for profile in profiles %}
        <div>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <div class="card_profile">
                <img src="{% if profile.photo %}{{profile.photo.url}}{% else %}/media/profile.png{% endif %}" alt="{{profile.name}}" style="width:100%">
                <h1>{{profile.name}}</h1>
                <p class="title_profile">{{profile.rule}}</p>
                <p>{{profile.about_me}}</p>
                <a class="a_profile" href="#"><i class="fa fa-vk"></i></a>
                <a class="a_profile" href="#"><i class="fa fa-telegram"></i></a>
                <a class="a_profile" href="#"><i class="fa fa-whatsapp"></i></a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}