{% extends 'base.html' %}

{% block content %}
  <h1>Редактирование точки</h1>
  <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <div class="mb-3">
      <label for="formFileMultiple" class="form-label">Multiple files input example</label>
      <input class="form-control" name='images' type="file" id="formFileMultiple" multiple>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>
  <div>
    {% for photo in photos %}
      <spam id="{{ photo.image.name }}">
        <img class="image-thumbail" src="{{ photo.image.url }}" alt="Изображение не найдено" width="300" height="300">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16" onclick="del('{{ photo.image.name }}')">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </spam>
    {% endfor %}
  </div>

<script>
  function del(path) {
    var x = new XMLHttpRequest();
    // x.open("GET", "/posts/delete_media?path=" + path, true);
    x.open("GET", "{% url 'delete_media' %}?path=" + path, true);
    x.send(null);
    document.getElementById(path.toString()).remove()
  }
</script>
{% endblock %}